#body{
	padding-left: 300px;
}
#nav-mobile{
	padding-right: 300px;
}
#body-nav{
	top: 0;
	position: fixed;
	z-index: 9;
}
#body-page{
	margin-top: 64px;
}
#search-data{
    width: calc(100% - 300px);
}
.sidenav-trigger:hover{
    background-color: #00000000 !important;
}
@media only screen and (max-width : 600px) {
    #body-page{
        margin-top: 56px;
    }
    #modal-upload-file{
        width: 70% !important;
    }
}
@media only screen and (max-width : 992px) {
	#body{
		padding-left: 0;
	}
    #search-data{
        width: calc(100%);
    }
}
body{
	font-family: 'Roboto';
    overflow-x: hidden;
}
/*TEMPLATING*/
a.btn-floating.btn-large.waves-effect.waves-light.red.sidenav-trigger{
    position: fixed;
    z-index: 99999;
    bottom: 3em;
    right: 3em;
}
.dropdown-content.dropdown-category{
	top: 64px !important;
}
input#search::placeholder {
    color: white;
}
.input-field .iconsearch.prefix.active{
    color:white
}
/*COLORING*/
.bg-primary{
	background-color: var(--bs-primary) !important;
}
/*TOOLS*/
.w-100{
	width: 100%;
}
.m-0{
    margin: 0!important;
}
#modal-upload-file{
    width: 30%;
}
#modal-add-article{
    width: 90% !important;
}
#modal-show-status{
    width: 80% !important;
}
.parallax-container.default {
    height: 300px !important;
}
.parallax-container.custom {
    height: 500px !important;
}
#toTop{
    position: fixed;
    bottom: 1em;
    left: 1em;
    z-index: 100;
}
#show-article img{
    max-width: 100%;
    height: calc(100% - 120px);
}
#show-article, #detail-article{
    overflow: hidden;
    line-break: anywhere;
}
#dropdown-notification{
    left: unset !important;
    top: 66px !important;
    right: calc(0px + 300px);
    width: 300px !important;
    height: 300px;
}
#dropdown-notification-mobile{
    left: unset !important;
    top: 66px !important;
    right: 0px;
    width: 300px !important;
    height: 300px;
}
.collection{
    font-size: 13px;
}
.dropdown-content li>a, .dropdown-content li>span{
    padding: 1px !important;
}

#card-profile .profile-image{
    width: 70px;
    max-height: 70px;
    position: absolute;
    top: 164px;
    z-index: 1;
    left: 20px;
    cursor: pointer;
}
.shadow-default{
    box-shadow: 0px 0px 0px 3px #f3f3f3 !important;
}

.list-article button.favorite{
    position: absolute;
    right: 60px;
    margin-top: -45px;
}
.list-article button.share{
    position: absolute;
    right: 10px;
    margin-top: -45px;
}
.list-article button.avatar-user{
    position: absolute;
    left: 10px;
    margin-top: -45px;
}