.m-100px{
	margin: 100px;
}
.ml-5px{
	margin-left: 5px;
}
.ml-10px{
	margin-left: 10px;
}
.mt-10px{
	margin-top: 10px;
}
.mb-10px{
	margin-bottom: 10px;
}
.mb-30px{
	margin-bottom: 30px;
}
.t-0{
	top: 0;
}
.pointer{
	cursor: pointer;
}
.fs-12px{
	font-size: 12px;
}
.line-auto{
	line-break: anywhere;
}
.overflow-auto{
	overflow: auto;
}